

<a [routerLink]="['/address']">Add address</a><br>

 <div>    
            <label for="name"> Name</label><br>
            <input type="text" name="name" [(ngModel)]="user.userName" placeholder="Name"/><br>

            
            <label for="roleModel"> RoleModel</label><br>
            <input type="text" name="roleModel" [(ngModel)]="user.roleModel"  placeholder="ADMIN, USER"/>

            <div>
                <select [(ngModel)]="user.userAddress" name="address" value="user.userAddress">
                  <option selected >select ADDRESS</option>
                  <option *ngFor="let address of addresses" [ngValue]="address">{{address.id}}</option>
    
                </select>
    
              </div>

        </div>

        <button (click)="addUser()">Add USER</button><br><br>
